/* MESSAGE */
.message-row {
    float: left;
    width: 100%;
    display: block;
    margin-left: 18px;
  }
  
  .time {
    color: var(--light-secondary-color);
    font-size: 0.7rem;
  }
  
  .message {
    padding: 0.3rem 0.9rem;
    border-radius: 6px;
    max-width: 60%;
    margin-bottom: 8px;  
  }
  
  .self-message {
    float: right;
    margin-right: 1rem;
    color: var(--primary-text-color)!important;
    background-color: var(--primary-color);
  }
  
  .others-message {
    float: left;
    margin-right: 1.5rem;
    color: var( --secondary-text-color);
    background-color: var(--secondary-color);
  }

  .date-header span{
    font-size: 0.7rem;
    border-radius: 0.3rem;
    background-color: var(--light-primary-color);
    padding: 0.3rem;
  }