/* 
LAYOUT 
LEFT PANEL
RIGHT PANEL
BACKGROUNDS 
CHAT
IMAGES
FONT
FORMS
BUTTONS
*/


:root {
  --bg-dark: #ffffff;
  --bg-left: #f5f7fb;
  --navbar-height: 60px;

  --body-background-color: #fff;
  --background-color-true: #f4f4f5;
  --background-color: var(--background-color-true);
  --border-color: #dfe1e5;
  --surface-color-rgb: 251, 246, 249;
  --surface-color: #fbf6f9;
  --scrollbar-color: rgba(0, 0, 0, .2);
  --section-box-shadow-color: rgba(0, 0, 0, .06);
  --menu-box-shadow-color: rgba(0, 0, 0, .15);
  --input-background-color: #fff;
  --input-search-border-color: #dfe1e5;
/******* primary color *******/
  --primary-color: #6a84ff;
  --primary-text-color: white;
  --light-primary-color: #dcd5f14a;
  --dark-primary-color: #907895;
/******* secondary color *******/
  --secondary-color: #b03d92;
  --light-secondary-color:#d7b2cd;
  --secondary-text-color: white;
  --light-secondary-text-color: hsla(207, 4%, 46%, .08);

  --danger-color: #df3f40;
  --light-danger-color: rgba(223, 63, 64, .08);
  
  --chatlist-highlight-color: #d3daff;
  --chatlist-pinned-color: #a2abb2;
  --badge-text-color: #fff;
  --ripple-color: rgba(0, 0, 0, .08);
  --monospace-text-color: var(--danger-color);
  
  --menu-background-color: rgba(var(--surface-color-rgb), .75);
 
  --message-background-color: var(--surface-color);
  --message-checkbox-color: #61c642;
  --message-checkbox-border-color: #fff;
  --message-primary-color: var(--primary-color);
  --light-filled-message-primary-color: var(--light-filled-primary-color);
  --message-secondary-color: var(--secondary-color);
  --message-error-color: var(--danger-color);
  --message-out-background-color: #eeffde;
  --light-message-out-background-color: rgba(238, 255, 222, .08);
  --dark-message-out-background-color: #d9ffb5;
  --message-out-link-color: var(--link-color);
  --message-out-primary-color: #4fae4e;
  --light-filled-message-out-primary-color: #e1f9d2;
  --message-out-status-color: var(--message-out-primary-color);
  --message-out-audio-play-button-color: #fff;
}

html {
  font-size: 15px;
  text-align: center;
}

body {
  background-color: var(--body-background-color);
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  
}

/* LAYOUT */
/* LEFT PANEL*/
#leftsidebar {
  height: 100vh;
}

#leftsidebar,
#profile,
#contacts,
#add-contacts {
  width: 20%;
  background-color: var(--surface-color)
}

@media all and (max-width:768px) {

  #leftsidebar,
  #profile,
  #contacts,
  #add-contacts {
    width: 100%;
  }
}

.top-nav {
  height: var(--navbar-height);
  background-color: var(--surface-color);
}

.top-nav p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}


/* RIGHT PANEL*/
#main {
  width: 80%;
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
}

#room-detail {
  border-bottom: 1px var(--border-color) solid;
}

#message-form {
  display: flex;
  flex-direction: row;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--border-color);
}

#chat-log {
  max-height: 100%;
  height: calc(100vh - var(--navbar-height) - 10px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  position: relative;
}

/* IMAGES */
.avatar-xs {
  height: 2.2rem;
  width: 2.2rem;
}

.avatar-md {
  width: 90%;
}

/* FONT */
.fs-small {
  font-size: 0.9rem
}

.fs-smaller {
  font-size: 0.8rem
}

.fs-16 {
  font-size: 16px;
}


.actions {
  color: var(--light-secondary-color);
}

/*  FORMS */
.form-control:focus {
  box-shadow: none !important;
}

.input-group-text {
  background-color: var(--input-background-color) !important;
  border-color: transparent !important;
}

.input-group input {
  border-left: 0;
}

input.form-control {
  background-color:  var(--input-background-color) !important;
  border-color: transparent !important;
}


/* BUTTONS */

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}

.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

#btn-toggle-add-contact {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

/************************************/
.mw-75 {
  max-width: 75px;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  height: 100vw;
}


.unimplemented-actions {
  display: none !important;
}


.btn-primary {
  --bs-btn-bg: var(--primary-color) !important;
  --bs-btn-border-color: var(--primary-color) !important;
  --bs-btn-hover-bg: #633cd6 !important;
  --bs-btn-hover-border-color: #451ebb !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-bg: #451ebb !important;
  --bs-btn-active-border-color: #4914e7 !important;
  --bs-btn-disabled-bg: #5f43b2 !important;
  --bs-btn-disabled-border-color: #5f43b2 !important;
}

.logout {
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--border-color);
}